
body {
  color: white;
  font-size: 1em;
  font-family: 'Titillium Web', sans-serif;
  background-image: url('bigTears.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h3 {
  position:absolute;
  top:80px;
  right:20px;
}
h2, p {
  color: black;
}
#modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
  display: none;
  text-align: center;
	z-index: 1;
	
}
#modal-textbox {
	background-color: lightyellow;
	height: 350px;
	width: 550px;
	margin: 15px;
  padding: 12px;
  border: 3px solid yellow;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
  margin: auto;
}
#babyCard {
  display: flex;
  height: 250px;
  width: 250px;
  border: 2px solid white;
  border-radius: 25px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
#babyCard .active {
  display: hidden;
}

.rounds {
position:absolute;
top:20px;
right:20px;
width: 150px;
height:150px;
text-align: center;
font-family: fantasy;
border-radius: 10px;
background-color: lightpink;
}

.baby {
	pointer-events: none;
}

.baby > * {
  animation: fly 50s linear infinite;
  pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}
